body, html {
	height: 100%;
	position: relative;
}
body {
	padding-top: 60px;

}

.notification-bar {
	position: fixed;
	bottom: 0;
	width: 100%;

	height: 150px;
	background-color: #222;
	color: #FFF;
}

.notification-bar .notification-container {
	height: 80px;
	overflow-y: auto;
	padding: 20px 0;
	border: 1px solid #CCC;
	color: #FFF;
}

.notification-item-container {
	border-bottom: 1px dashed #CCC;
	padding: 10px 0;

}

.item-container {
	padding: 8px;

	border: 1px solid #EEE;
	position: relative;
	
	
}

.item-container h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 16px;
}

.item-container .price {
	position: absolute;
	top: 10px;
	right: 10px;
}

.item-container .delete {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}

.item-container:hover .price {
	
	right: 70px;
}

.item-container:hover .delete {
	display: inline-block;
}


.item-container .user {
	color: #666;
	font-size: 12px;
}

.bids-item {
	padding: 8px;
	margin: 6px 0;
	position: relative;
	border: 1px solid #EEEEEC;
	background-color: #fffffc;
}


.bids-item h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 16px;
}


.bids-item .price {
	position: absolute;
	top: 10px;
	right: 10px;
}


.bids-item .user {
	color: #666;
	font-size: 12px;
}

input.ng-invalid.ng-dirty {
	border-color:#990000;
}
input.ng-valid.ng-dirty {
	border-color:#CCC;
}



#create-bar {
	position: fixed;
	bottom: -300px;
	width: 100%;
	background-color: #222;
	-webkit-transition: bottom .3s ease-in-out;
	-o-transition: bottom .3s ease-in-out;
	transition: bottom .3s ease-in-out;
}

#create-bar .create-container {
	height: 280px;
}

#create-bar.open {
	bottom: 0;
}



