 <!-- HOME -->
        <div class="container">
            <div class="row">
                <div class="jumbotron clearfix" style="background-color: transparent;" ng-show="!auth_token">
                	<div class="col-md-6 col-md-offset-3 text-center">
	                    <h1>Clubhouse</h1>
	                    <h4>This is the place to find those unique things you've always wanted and get to know those unique people who have them.</h4>
                    </div>

                </div>
                <div class="logged" ng-show="auth_token">
	                <div class="col-md-6" >
	                	<h1 class="no-margin">Clubhouse</h1>
	                </div>
	                <div class="col-md-6" >
	                	<p>Find those unique things you've always wanted and get to know those unique people who have them.</p>
	                </div>
                </div>
            </div>
            <hr style="border-color:#999;">
            <div class="row" ng-show="!auth_token">
               	<div class="col-md-6">
               		<a href="#login" class="btn btn-default btn-block" >Log in</a>
               	</div>
               	<div class="col-md-6">
               		<a href="#signup" class="btn btn-primary btn-block" >Sign Up</a>
               	</div>
            </div>
            <hr style="border-color:#999;" ng-show="!auth_token">
            
                    
            <div class="row" >
            	<div class="col-md-12">
            	    
	            	<div class="panel panel-default">
                        
	            		<div class="panel-heading clearfix">
	            			<h5 class="pull-left">Top Clubs</h5>
                          
                            <div ng-cloak class="col-md-3 pull-right">
                                
	            			 <select ng-cloak ng-show="!auth_token || showAllInterests"  ng-options="opt.name as opt.name for opt in allInterests" name="interest-select" id="interest-select" ng-model="selectInterest.interest" class=" form-control">        
	            			     <option value="">All </option>
	            			    
	            			 </select>
                             
                            <select ng-cloak ng-show="auth_token && !showAllInterests"  ng-options="opt.name as opt.name for opt in interests" name="interest-select" id="interest-select" ng-model="selectInterest.interest" class=" form-control">        
	            			     <option value="">All my Interests </option>
	            			    
	            			 </select>
                                
                		    </div>
                		     <div class="col-md-3 pull-right" ng-show="auth_token">
                              <div class="checkbox text-right" >
                                <label>
                                   <small style="float:left; margin-right:30px;">View All interests</small> <input style="float:right;"  type="checkbox" ng-model="showAllInterests">
                                </label>
                              </div>
                               
                           </div>

	            		</div>
	            		<div class="panel-body">
            		       <p ng-hide="filteredClubs.length">There is no result</p>
	            		   <div class="clubscontainer" ng-repeat="club in filteredClubs = (clubList | filter:checkUserInterest | filter: {interest : selectInterest.interest || undefined}:true ) "> 
	            		   		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 club-item">
	            		   			<div href="#" class="thumbnail">
	            		   					<div class="img-container">
	            		   						<img src="{{imagePath}}{{club.image}}" class="img-responsive" alt="">
	            		   					</div>
	            		   					<div class="caption">
									            <h4 class="no-margin one-line">{{club.name}}</h4>
									            <p class="one-line" ><small>{{club.founderEmail}}</small></p>
									            <a href="#club/preview/{{club.id}}" ng-show="!hasMembership(club.id)" class="btn btn-default btn-block" role="button">Join</a> 
									            <a href="#club/{{club.id}}" ng-show="hasMembership(club.id)" class="btn btn-info btn-block" role="button">Visit</a> 
								          </div>
	            		   			</div>
	            		   		</div>
	            		   </div>
	            		   
	            		</div>
	            	</div>
            	</div>
            </div>
            
            
            <hr style="border-color:#999;">
            <div class="row">
            	<div class="col-md-12">
            		<a href="" class="btn btn-primary btn-lg  btn-block">find something specific</a>
            	</div>
            </div>
            <br/><br/>

        </div>