





 <div class="container">
     <div class="row">
         <div class="col-md-12">
           	   
            	    
             <div class="panel panel-default">
               
                 <div class="panel-body">
            		      
	            		   <div class="clubscontainer" ng-repeat="club in userClubs "> 
	            		   		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 club-item">
	            		   			<div href="#" class="thumbnail">
	            		   					<div class="img-container">
	            		   						<img src="{{imagePath}}{{club.image}}" class="img-responsive" alt="">
	            		   					</div>
	            		   					<div class="caption">
									            <h4 class="no-margin one-line">{{club.name}}</h4>
									            <p class="one-line" ><small>{{club.founderEmail}}</small></p>
									            <a href="#club/{{club.id}}" ng-show="hasMembership(club.id)" class="btn btn-info btn-block" role="button">Visit</a> 
									            <a href ng-click="cancelMembership(club.id)" class="btn btn-default btn-block" role="button">Cancel Membership</a> 
								          </div>
	            		   			</div>
	            		   		</div>
	            		   </div>
	            		   
	            		</div>
                   
                       
             </div>
        </div>
     </div>
</div>