<li class="dropdown dropdown-li" ng-controller="notificationsController" >
    
                     <button ng-click="loadNotifications()" id="notifications-dropdown" class=" btn btn-default" ng-class="{ 'btn-danger': newMatchingsNotificationsArray.length > 0 }"  aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" ></span></button>
                  
                  
                  <ul class="dropdown-menu notifications-menu" role="menu" aria-labelledby="notifications-dropdown">
                      
                      <li class="no-notifications" ng-show="notifications.length == 0">
                          No notifications here.
                      </li>
                      
                      <li class="notification-item" ng-repeat="notification in notifications" ng-show="notifications.length > 0" ng-class="{'new' : checkNew(notification.id)}">
                          <div class="date">{{notification.date}}</div>
                          <div class="message">{{notification.message}}</div>
                      </li>
                     
                  </ul>
                
                </li>