
<!-- SETTINGS -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Settings <small>User Profile</small><a href="#firstlogin" class="btn btn-default pull-right" >Your Interests</a></h1>

            </div>

        </div>
    </div>
    <div class="row">
        <form novalidate name="settingsForm" ng-init="">
            <div class="col-xs-12 col-md-4 text-center profile-image clearfix">

                <img ng-show="picFile[0].dataUrl == null" class="img-thumbnail img-responsive" alt="Profile Image {{email}}"  ng-src="{{settings.avatarUrl}}"/>
                <img ng-show="picFile[0].dataUrl != null" class="img-thumbnail img-responsive" ng-src="{{picFile[0].dataUrl}}" >
                <div class="options">
                    <button class="btn btn-default btn-block" ng-file-select ng-model="picFile" name="file" ng-file-change="generateThumb(picFile[0])"  accept="image/*"  multiple="false">Attach Any File</button><br/> <br/>
                    <div class="progress"ng-show="uploading" >
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{uploadPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadPercentage}}%;">
                        <span class="sr-only">{{uploadPercentage}} Complete</span>
                      </div>
                    </div>
                    
                    <a href ng-show="{{profileImage}}">Remove Image</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-8 clearfix">
                <div class="profile-form">

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">User Name</label>
                                            <input type="text" name="username" class="form-control" ng-model="settings.username" id="username" placeholder="Enter your name">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <input type="text" name="location" class="form-control" ng-model="settings.location" id="location" placeholder="Enter city">
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="bio">Bio</label>
                                            <textarea name="bio" class="form-control" id="bio" ng-model="settings.bio" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group text-right">
                                            <a  href class="btn btn-default" ng-click="cancel()">Cancel</a>
                                            <button type="submit"  ng-disabled="!settingsForm.$dirty" ng-click="save(settingsForm.$valid, picFile)" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </div>

                            </div>





                        </div>
                    </div>
                </div>	
            </div>
        </form>
    </div>
</div>