*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/grogshop-processing/target/
/grogshop-services/target/
/grogshop-html5/target/
/GrogHTML5/nbproject/private/
/grogshop-html5/nbproject/private/
/grogshop-ios/GrogShop-iOS-Application/DerivedData/
/grogshop-model/target/
/grogshop-rules/target/
/grogshop-tests/target/
grogshop-ios/GrogShop-iOS-Application/GrogShop.xcodeproj/project.xcworkspace/xcuserdata/rishabhchowdhary.xcuserdatad/UserInterfaceState.xcuserstate
grogshop-ios/GrogShop-iOS-Application/GrogShop.xcodeproj/xcuserdata/rishabhchowdhary.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
grogshop-ios/GrogShop-iOS-Application/GrogShop.xcodeproj/xcuserdata/rishabhchowdhary.xcuserdatad/xcschemes/GrogShop.xcscheme
grogshop-ios/GrogShop-iOS-Application/GrogShop.xcodeproj/xcuserdata/rishabhchowdhary.xcuserdatad/xcschemes/xcschememanagement.plist
