<div  class="col-md-4 col-sm-6" ng-repeat="bid in bidsCtrl.bids track by $id(bid)">

    <div class="item bid" onclick="">

        <a href class="delete" ng-click="bidsCtrl.deleteBid(bid.id)"></a>


        <div class="item-body">
            
        

            <div class="item-tags">
                <span ng-repeat="tag in bid.tags">
                    <a href class="tag">{{tag.name}}</a> 
                </span>

            </div>

        </div>

        <div class="item-footer">
            <div class="user"><span class="hidden-xs">Created </span>by <a href="#">{{bid.userId}}</a>. ID: {{bid.id}}</div>
            <div class="price">{{bid.amount | currency}}</div>
        </div>

    </div>    



</div>     

