<!DOCTYPE html>
<html lang="en" ng-app="grogshop">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>angular app</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/ng-tags-input.min.css"> 
        <link rel="stylesheet" href="css/ng-tags-input.bootstrap.min.css">
        <link href="css/app.css" rel="stylesheet">




        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body >
            <div ng-controller="NavigationController as navCtrl">
                
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse app-main-nav" role="navigation">
                  <div class="container-fluid">
                    
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header navbar-left ">
                      <button type="button" class="navbar-toggle collapsed btn-block app-toogle-nav" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        Menu
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                      <ul class="nav navbar-nav">
                        <li ng-class="{ active: navCtrl.isSelected(1)}" > <a href ng-click="navCtrl.selectSection(1)">Listings</a></li>
                        <li ng-class="{ active: navCtrl.isSelected(2)}"> <a href ng-click="navCtrl.selectSection(2)">Bids</a></li>
                        <li ng-class="{ active: navCtrl.isSelected(3)}"> <a href ng-click="navCtrl.selectSection(3)">Notifications <span class="badge" >0</span></a></li>
                       
                      </ul>
                      
                    </div>
                    
                  </div>
                </nav>

       

        
          

            <section id="listings" ng-show="navCtrl.isSelected(1)">
                <div class="container-fluid">
                    <listing-item > </listing-item>
                </div>
            </section>

            <section id="bids" ng-show="navCtrl.isSelected(2)">
                 <div class="container-fluid">
                     <bids-item></bids-item>
                </div>
            </section>

            <section id="notifications" ng-show="navCtrl.isSelected(3)">
                <div class="row">
                    <div class="col-md-12">

                        <h3>Notifications</h3>
                        <div class="notification-container">
                            <div id="status"></div>
                            <notifications-items> </notifications-items>
                        </div>
                    </div>
                </div>
            </section>


        <div id="create-bar" ng-controller="CreateBarController as createCtrl" ng-class="{open: createCtrl.status}" ng-show="navCtrl.isSelected(2) || navCtrl.isSelected(1)">
                <a class="bar-toogle" href ng-click="createCtrl.status = !createCtrl.status">
                    <span class="create">Create</span>
                    <span class="close-nav">Close</span>
                </a>
                
                 <div class="create-bar-body">
                        <div class="container-fluid" ng-show="navCtrl.isSelected(1)">
                            <div class="row">
                               

                                    <listing-form></listing-form>

                                
                            </div>
                        </div>

                        <div class="container-fluid" ng-show="navCtrl.isSelected(2)">
                            <div class="row">
                               
                                    <bids-form></bids-form>
                                                            
                            </div>
                        </div>

                 </div>
            
        </div>


     </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-tags-input.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/listings.js"></script>
        <script src="js/bids.js"></script>
        <script src="js/notifications.js"></script>

    </body>
</html>