<!DOCTYPE html>
<html lang="en" ng-app="grogshop">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Welcome to Grog Shop</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="resources/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/lib/ng-tags-input.min.css"> 
    <link rel="stylesheet" type="text/css" href="resources/lib/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
    <link rel="apple-touch-icon" href="appleicon.png">

    <base href="/grogshop-server/">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
    </head>
    <body ng-controller="MainCtrl">

        <growl-notifications></growl-notifications>

        <div ng-repeat="(id, notification) in notifications track by id">
            <growl-notification ttl="3000" ng-click="$growlNotification.remove()" >
              
                    {{notification}}
              
            </growl-notification>
        </div>



    <div ng-controller="NavigationController">

            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse app-main-nav" role="navigation">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header navbar-left ">
                        <button type="button" class="navbar-toggle collapsed btn-block app-toogle-nav" data-toggle="collapse" data-target="#main-nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span>Open menu</span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="nav navbar-nav"  >
                            <li ng-show="auth_token">
                                  <p class="navbar-text" >
                                    Hi {{email}}!
                                </p>
                            </li>
                            <li ng-class="{active: isActive('/')}" ><a href="#" >Home</a></li>

                        </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="!auth_token">
                        
                        <li ng-class="{active : isActive('/login')}"> <a href="#login" >Login</a></li>
                        <li ng-class="{active : isActive('/signup')}"><a href="#signup" >Register</a></li>



                    </ul>

                    <ul class="nav navbar-nav navbar-right" ng-show="auth_token">
                        <li ng-class="{active : isActive('/settings')}" > <a href="#settings">Settings</a></li>
                        <li > <a href="#" ng-click="logoutUser()" >Logout</a></li>

                    </ul>

                </div>

            </div>
        </nav>
    </div>

<div class="screen {{pageClass}}" ng-view  >
    
</div>







<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="resources/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/lib/angular.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-route.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-animate.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-filter.min.js"></script>
<script type="text/javascript" src="resources/lib/ng-tags-input.min.js"></script>
<script type="text/javascript" src="resources/lib/angular-growl-notifications.min.js"></script>


<script type="text/javascript" src="resources/js/app.js"></script>
<script type="text/javascript" src="resources/js/notifications.js"></script>

<!-- CONTROLLERS -->
<script type="text/javascript" src="controllers/homeController.js"></script>
<script type="text/javascript" src="controllers/passwordController.js"></script>
<script type="text/javascript" src="controllers/settingsController.js"></script>
<script type="text/javascript" src="controllers/signUpController.js"></script>
<script type="text/javascript" src="controllers/firstLoginController.js"></script>
<script type="text/javascript" src="controllers/clubController.js"></script>

<!-- DIRECTIVES -->
<script type="text/javascript" src="directives/vCompare.js"></script>

</body>
</html>