
<form name="listingform" id="listingform" ng-submit="listingform.$valid && listingFromCtrl.addListing()" novalidate>



    <div class="col-md-2 col-sm-2">
        <div class="form-group">
            <label for="userid" class="hidden-xs">User Name</label>
            <input type="text" class="form-control" ng-model="listingFromCtrl.livelisting.userId" id="userid"  placeholder="User Name" required >
        </div>
    </div>

    <div class="col-md-2 col-sm-2">
        <div class="form-group">
            <label for="price" class="hidden-xs">Price</label>
            <input type="number" class="form-control" ng-model="listingFromCtrl.livelisting.price" id="price"  placeholder="Price" required>
        </div>
    </div>
    
    <div class="col-md-2 col-sm-2">
        <div class="form-group">
            <label for="price" class="hidden-xs">Range</label>
            <input type="number" class="form-control" ng-model="listingFromCtrl.livelisting.range" id="range"  placeholder="Range" required>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label for="tags" class="hidden-xs">Tags</label>
            <tags-input ng-model="listingFromCtrl.livelisting.tags" display-property="name" max-tags="5" required>
                <auto-complete min-length="2" source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>
    </div>


    <div class="col-md-2 col-sm-2">
        <div class="spacer hidden-xs"></div>
        <button type="submit" class="btn btn-primary btn-block">Create <span class="hidden-sm">Listing</span></button>
    </div>



</form>
