

<div class="col-md-4 col-sm-6" ng-repeat="product in listingsCtrl.products track by $id(product)">


    <div class="item listing" onclick="" >

        <a href class="delete" ng-click="listingsCtrl.deleteListing(product)"></a>


        <div class="item-body">
            
            <div class="item-left">
                    
            </div>

            <div class="item-tags">
                <span ng-repeat="tag in product.tags">
                    <a href class="tag">{{tag.name}}</a> 
                </span>

            </div>

        </div>

        <div class="item-footer">
            <div class="user"><span class="hidden-xs">Created </span>by <a href="#">{{product.userId}}</a>. ID: {{product.id}} </div>
            <div class="price">{{product.price  | currency}}</div>
        </div>

    </div>    

</div>                  