<div class="matching-item-container " ng-repeat="(key, value) in matchingsCtrl.matchings | groupBy: 'listing.id'">
    <div class="matching-item">
        <div class="container-fluid">
            <div class="row">
                <div class="matching-data">
                    ID: {{ key}}
                </div>
            </div>
            <div class="row" >
                <div class="matching-listing col-md-6">




                    <div class="item listing">

                        <div class="item-body">

                            <div class="item-left">

                            </div>

                            <div class="item-tags">
                                <span ng-repeat="tag in value[0].listing.tags">
                                    <a href class="tag">{{tag.name}}</a> 
                                </span>
                            </div>

                        </div>

                        <div class="item-footer">
                            <div class="user ng-binding"><span class="hidden-xs">Created </span>by <a href="#" class="ng-binding">{{value[0].listing.userId}}</a>. ID: {{value[0].listing.id}} </div>
                            <div class="price ng-binding">$ {{value[0].listing.price}}</div>
                        </div>

                    </div>
                </div>

                <div class="matching-bid col-md-6" ng-repeat="matching in value">
                    <div class="item bid">

                        <div class="item-body">

                            <div class="item-tags">

                                <span ng-repeat="tag in matching.bid.tags">
                                    <a href class="tag">{{tag.name}}</a> 
                                </span>

                            </div>
                        </div>

                        <div class="item-footer">
                            <div class="user ng-binding"><span class="hidden-xs">Created </span>by <a href="#" class="ng-binding">{{matching.bid.userId}}</a>. ID: {{matching.bid.id}}</div>
                            <div class="price ng-binding">$ {{matching.bid.amount}}</div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div> 
