<div  class="col-md-4 col-sm-6" ng-repeat="membership in membershipsCtrl.memberships track by $id(membership)">

    <div class="item bid" onclick="">

        <a href class="delete" ng-click="membershipsCtrl.deleteMembership(membership)"></a>


        <div class="item-body">
            
        

            <div class="item-tags">
                <span ng-repeat="tag in membership.tags">
                    <a href class="tag">{{tag.name}}</a> 
                </span>

            </div>

        </div>

        <div class="item-footer">
            <div class="user"><span class="hidden-xs">Created </span>by <a href="#">{{membership.userId}}</a>. ID: {{membership.id}}</div>
            <div class="price">{{membership.priceRange[0] | currency}}</div>
        </div>

    </div>    



</div>     

