<div class="matching-item-container col-md-9" ng-repeat="notification in notificationsCtrl.notifications">
    <div class="matching-item">
		<div class="matching-data">
			<div class="date">22/03/2015</div>
			<div class="type">Partial Matching</div>
			<div class="tags-matching">
				<span >
			         <a href class="tag">tags</a> 
			    </span>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="matching-bid col-md-5">

				<div class="item bid" >
			        <div class="item-footer">
			            <div class="user"><span class="hidden-xs">Created </span>by <a href="#">user name</a>. ID: id</div>
			            <div class="price">2222</div>
			        </div>
			    </div>    
			</div>



			<div class="matching-listing  col-md-5 col-md-offset-1">
					
				<div class="item listing" onclick="" >
			        <div class="item-body">
			            <div class="item-left">
			                    
			            </div>
			            <div class="item-tags">
			                <span >
			                    <a href class="tag">todos los tags</a> 
			                </span>
			            </div>

			        </div>

			        <div class="item-footer">
			            <div class="user"><span class="hidden-xs">Created </span>by <a href="#">User name</a>. ID: id </div>
			            <div class="price">2222</div>
			        </div>

			    </div>    

			</div>

		</div>

        
    </div> 



    <growl-notification class="fading" ttl="30000">
        {{notification.userId}}: {{notification.message}} 

        <a class="close-link" href="#" ng-click="$growlNotification.remove()"><span>Close me</span></a>

    </growl-notification>
</div> 
