<div  class="big-image visible-xs">
	<div class="img-container" style="background-image:url({{imagePath}}{{preview_club.image}});">
					
	</div>
</div>
<div id="club-preview-container">
	<div class="container-fluid">
		<div class="row" style="position: relative;">
			<div class="col-sm-3 hidden-xs club-image"  >
				<div class="img-container" style="background-image:url({{imagePath}}{{preview_club.image}});">
					
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
			
				<p><span class="label label-primary">{{preview_club.category}}</span> <span ng-repeat="tag in preview_club.tags"><span class="label label-default">{{tag}}</span> </span></p>

				
				<h2>{{preview_club.name}}</h2>
				<p class="lead">{{preview_club.description}}</p>
				<div class="well">
				<p><strong>Founder:</strong> <a href>{{preview_club.founderEmail}}</a><br/>
				<strong>Members:</strong> 150</p>
				<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
				
				</div>


			</div>
			<div class="col-sm-3">
				 <button class="btn btn-primary btn-block btn-lg" ng-click="joinClub(club_id, user_id, email, auth_token)"> <span class="glyphicon glyphicon-flag pull-left" aria-hidden="true"></span> Join <span class="hidden-sm" >this club</span></button>
				 <div class="col-md-10 col-md-offset-1">
				 	<br/>
				 	<p class="text-center"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </small></p>
				 </div>	
			</div>
		</div>
		<hr style="border-color:#999;" >

	</div>

	
	
	
</div>

<div class="float-button float-bottom float-right">
	
	<button ng-click="back()" class="btn btn-lg"> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
</div>