 <!-- FIRST LOGIN -->
<div class="mainTags-container">
	<div class="mainTag" ng-click="toogleCheck(mainTag.name)" ng-class="{'checked': selectedTagsName.indexOf(mainTag.name) > -1}" ng-repeat="mainTag in mainTags" style="width: {{elementWidth}}px; height: {{elementHeight}}px; ">
		<div class="tagName"><span>{{mainTag.name}}</span></div>
		<div class="image" style="background-image: url('{{imagePath}}{{mainTag.imagePath}}');"></div>
		<div class="actionIcon"></div>
		
		
	</div>


</div>

<div class="float-button float-bottom float-right">
	<button class="btn btn-primary btn-lg" ng-click="updateInterests(user_id, email, auth_token)"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>

</div>