 <!-- FIRST LOGIN -->
<div class="interests-container">
    
	<div class="interest" ng-click="toggleCheck(interest)" ng-class="{'checked': isChecked(interest)}" ng-repeat="interest in interests" style="width: {{elementWidth}}px; height: {{elementHeight}}px; ">
		<div class="name"><span>{{interest.name}}</span></div>
		<div class="image" style="background-image: url('{{imagePath}}{{interest.imagePath}}');"></div>
		<div class="actionIcon"></div>
		
		
	</div>


</div>

<div class="float-button float-bottom float-right">
	<a class="btn btn-default btn-lg" href="#settings">Cancel</a>
	<button class="btn btn-primary btn-lg" ng-click="updateInterests(user_id, email, auth_token)"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>

</div>